.house-detail {
    .header {
        padding-right: 5vw;
        float: right;
    }

    .summary-info {
        padding: 5vw;
        padding-top: 0;
        .room-image {

        }
        
        .info {
            padding: 3vw;
            font-size: 130%;
            .location {
                font-weight: bold;
            }
        }
    }
}